<span><a href="#!/index">Logout</a></span>
<span><a href="#!/create">Create a New Poll</a></span>
<h4>Current Polls:</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Survey Question</th>
            <th>Date Posted</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="poll in polls">
            <td>{{poll._user.name}}</td>
            <td><a href="#!/poll/{{poll._id}}">{{poll.question}}</a></td>
            <td>{{poll.createdAt | date}}</td>
            <td><button ng-click="delete(poll)">Delete</button></td>
        </tr>
    </tbody>
</table>
